# Fichiers Python
__pycache__/
*.py[cod]
*.so

# Notebooks checkpoints
.ipynb_checkpoints/

# Environnement virtuel
env/
venv/

# Fichiers temporaires
*.log
*.tmp
*.swp

# Fichiers système
.DS_Store
Thumbs.db

# Données personnelles
*.csv
*.txt
